APP_NAME="Pos Ecommerce"
APP_ENV=local
APP_KEY2=base64:K4MkRk+dxuxATuD2znNHNvMmqlyEzK5aoWmVsj3V8R8=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE2=pos_ecommerce
DB_USERNAME=root
DB_PASSWORD=123

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

CLIENT_ID=ef7632fc6054a4c24a98902c578bd6c156f8520d7bd9ae163a585f5b7e945cae
CLIENT_SECRET=ef5d64a91880f9747ab42108fbe48cdb2de810a1ba1a0527013ba2cc81a2531034ef5259a4935a52f8abb1859e69978deba3
